<h2>Missing Items</h2>

<%= form_tag("scrape_missing_items", method: "post") do %>
  <%= hidden_field_tag 'product_arr', @mi %>
  <%= submit_tag "Submit" %>
<% end %>

<div class="row">
  <p><%= @mi.length %> missing items</p>
  <ul class="col m4">
    <% @mi[@first_third].each do |item| %>
    <li><%= item %></li>
    <% end %>
  </ul>
  <ul class="col m4">
    <% @mi[@second_third].each do |item| %>
    <li><%= item %></li>
    <% end %>
  </ul>
  <ul class="col m4">
    <% @mi[@last_third].first((@mi.length/3).ceil).each do |item| %>
    <li><%= item %></li>
    <% end %>
  </ul>
</div>
