<div class="row">
  <%= form_tag do %>
    <div class="row">
      <div class="input-field col s6">
        <%= text_field_tag :search %>
      </div>
      <div class="input-field col s6">
        <select id="category" name="category" required>
          <option value="" disabled selected>Select a category</option>
          <option value="dining">dining</option>
          <option value="bedroom">bedroom</option>
          <option value="seating">seating</option>
          <option value="occasional">occasional</option>
          <option value="home">home</option>
          <option value="youth">youth</option>
        </select>
        <label>Categories</label>
      </div>
    </div>
  <%= submit_tag 'Search', class: 'btn right' %>
  <% end %>

  <% if @products.any? %>
    <% @products.each do |product| %>
      <div class="col s3">
        <h5><%= link_to product.name, "/searches/1?number=#{product.number}&category=#{product.category}" %></h5>
        <h6><%= product.number %></h6>
        <img src="<%= "https://s3-us-west-1.amazonaws.com/homelegance-resized/Images_MidRes_For+Customer+Advertisement/#{product.number.delete('*')}.jpg"%>" alt="" class="responsive-img">
      </div>
    <% end %>
  <% else %>
    <h1>Sorry, no products match that criteria</h1>
  <% end %>
</div>
<script type="text/javascript">
  $(function() {
    $('select').material_select();
  })
</script>
