<%= link_to 'prev', products_path(page_number: @prev) %>
<%= link_to 'next', products_path(page_number: @next), class: "right" %>
<div class="row">
  <% @products.first(3).each do |product| %>
    <%= link_to edit_product_path(product["id"]) do %>
      <div class="col s4">
        <p><%= product["name"] %></p>
        <img src="<%= product["thumbnail"] %>" alt="" class="responsive-img">
      </div>
    <% end %>
  <% end %>
</div>
<div class="row">
  <% @products.last(3).each do |product| %>
    <%= link_to edit_product_path(product["id"]) do %>
      <div class="col s4">
        <p><%= product["name"] %></p>
        <img src="<%= product["thumbnail"] %>" alt="" class="responsive-img">
      </div>
    <% end %>
  <% end %>
</div>
